<div class="mb-2">
    {% if  InputDetails['type'] == "select" %}
      <div class="form-floating relative">
        <select id="{{ InputDetails['id'] }}"
                name="{{section}}-{{ InputDetails['id'] }}"
                data-label="{{ InputDetails.get('value') }}"
                class="form-select text-light border-2 rounded-3"
                style="height: auto !important; line-height: 1.3;"
                >

          {% set selected_value = (InputDetails.get('value') ~ '') %}
          {% for value, label in InputDetails["options"].items() %}
            <option value="{{ value }}"
                    {% if value == '' and InputDetails.get('required') %}hidden{% endif %}
                    {% if (value ~ '') == selected_value %}selected{% endif %}>{{ label }}</option>
          {% endfor %}
        </select>
        <label for="{{ InputDetails['id'] }}" class="text-secondary">
          {{ InputDetails['data-description'] }}
          {% if InputDetails.get('required') %}
            <span class="text-danger fw-bold" aria-hidden="true"> * </span>
            <span class="visually-hidden">required</span>
          {% endif %}
        </label>
        
      </div>

    {% else %}
    <div class="relative form-floating">
       <input
    oninput="this.value = this.value.replace(/\b\w/g, c => c.toUpperCase())"

    {% set input_value = InputDetails.get('value') %}
    {% for attribute_name, attribute_value in InputDetails.items() %}
      {% if attribute_name == 'name' %}
        name="{{ section }}-{{ attribute_value }}"
      {% elif attribute_name == 'value' %}
        {% if input_value is not none and input_value != '' %}
          value="{{ input_value }}"
        {% endif %}
      {% else %}
        {{ attribute_name }}="{{ attribute_value }}"
      {% endif %}
    {% endfor %}
    
    class="form-control text-light border-2 rounded-3"/>

      <label for="{{ InputDetails['id'] }}" class="text-secondary">
        {{ InputDetails["label"] }} 
        {% if InputDetails.get('required') %}
          <span class="text-danger fw-bold" aria-hidden="true"> * </span>
          <span class="visually-hidden">required</span>
        {% endif %}
      </label>
    </div>
    
    {% endif %}
  </div>