
{% extends "base.html" %}
{% block title %}Aapar{% endblock %}

{% block content %}
<style>
  @media (max-width: 768px) {
  .table thead {
    display: none;
  }
  .table, .table tbody, .table tr, .table td {
    display: block;
    width: 100%;
  }
  .table tr {
    margin-bottom: 15px;
    border-bottom: 2px solid #dee2e6;
  }
  .table td {
    display: flex;
    justify-content: space-between;
    padding: 0.75rem;
    border: none;
    border-bottom: 1px solid #dee2e6;
    text-align: right;
  }
  .table td::before {
    content: attr(data-label);
    flex: 1;
    font-weight: bold;
    text-align: left;
    padding-right: 0.75rem;
  }
}
</style>

<div class="container my-5">
    <div class="row mb-4">
      <div class="col-md-6 mb-2">
        <select class="form-select form-select-lg" id="classView" name="selectClass" onchange="updatePage('/aapar', 'dataTable', { 'class': event.target.value, 'task' : 'pageUpdate' });">
          <option selected value="All">Select Class</option>
          <option value="Nursery/KG/PP3">Nursery/KG/PP3</option>
          <option value="LKG/KG1/PP2">LKG/KG1/PP2</option>
          <option value="UKG/KG2/PP1">UKG/KG2/PP1</option>
          <option value="1st">1st</option>
          <option value="2nd">2nd</option>
          <option value="3rd">3rd</option>
          <option value="4th">4th</option>
          <option value="5th">5th</option>
          <option value="6th">6th</option>
          <option value="7th">7th</option>
          <option value="8th">8th</option>
        </select>
      </div>
  
      <div class="col-md-6">
        <input type="text" id="search-input" class="form-control form-control-lg" placeholder="Search by Name, Class, or Roll Number" onkeyup="searchFunction()">
      </div>
    </div>
  
</div>

<div class="container-lg table-responsive" id="dataTable">
  <table class="table table-bordered table-striped table-hover">
    <thead class="thead-dark">
      <tr id="tableRow">
        <th scope="col">Name</th>
        <th scope="col">Class</th>
        <th scope="col">Roll No</th>
        <th scope="col">FName</th>
        <th scope="col">MName</th>
        <th scope="col">Submit</th>
      </tr>
    </thead>
    <tbody id="tableBody">
      {% if data %}
      {% for row in data %}
      <tr>
        <td data-label="Name">{{ row.STUDENTS_NAME }}</td>
        <td data-label="Class">{{ row.CLASS }}</td>
        <td data-label="Roll no">{{ row.ROLL }}</td>
      
        <td class="align-middle text-center">
          <div class="d-flex flex-column justify-content-center align-items-center w-100">
            <span class="fw-bold mb-1">{{ row.FATHERS_NAME }}</span>
            <input type="number" inputmode="numeric"
                   placeholder="Enter Father's Aadhar" value="{{ row.Parents_Aadhar['Father'] if row.Parents_Aadhar and 'Father' in row.Parents_Aadhar else '' }}"
                   class="form-control"
                   onfocus="this.select()" 
                   id="FAadhar-{{ row.id }}">
          </div>
        </td>
      
        <td class="align-middle text-center">
          <div class="d-flex flex-column justify-content-center align-items-center w-100">
            <span class="fw-bold mb-1">{{ row.MOTHERS_NAME }}</span>
            <input type="number" inputmode="numeric" value="{{ row.Parents_Aadhar['Mother'] if row.Parents_Aadhar and 'Mother' in row.Parents_Aadhar else '' }}"
                   placeholder="Enter Mother's Aadhar" 
                   class="form-control"
                   onfocus="this.select()" 
                   id="MAadhar-{{ row.id }}">
          </div>
        </td>
        
        <td>
          <button type="submit" class="btn btn-primary" 
                  id="submitBTN-{{ row.id }}" 
                  data-id="{{ row.id }}" onclick="submit('{{ row.id }}')">
            Submit
          </button>
        </td>
      </tr>
      
      {% endfor %}
      {% endif %}
    </tbody>
  </table>
</div>

<script>

function submit(id) {
  console.log("DI : ",id)

    const submitBTN = document.getElementById("submitBTN-" + id);
    const MAadhar = document.getElementById("MAadhar-" + id)
    const FAadhar = document.getElementById("FAadhar-" + id)

    submitBTN.disabled = true;
    const spinner = document.createElement('span');
    spinner.className = 'spinner-border spinner-border-sm';
    spinner.setAttribute('role', 'status');
    spinner.setAttribute('aria-hidden', 'true');
    submitBTN.appendChild(spinner);

    // Send the data using fetch
    fetch("/aapar", {
        method: "POST",
        headers: {
            "Content-Type": "application/json"
        },
        body: JSON.stringify({
            id: id,
            task: "aadhar",
            Mother_Aadhar: MAadhar.value,
            Father_Aadhar: FAadhar.value
        })
    })
    .then(response => response.json())
    .then(res => {
        submitBTN.disabled = false;
        spinner.remove();

        if (res["STATUS"] === "SUCCESS") {
          MAadhar.classList.remove("is-invalid");
          FAadhar.classList.remove("is-invalid");
          FAadhar.classList.add("is-valid");
          MAadhar.classList.add("is-valid");
        }
        else {
          FAadhar.classList.add("is-invalid");
          MAadhar.classList.add("is-invalid");
        }
    })
    .catch(error => {
        console.error('Error:', error);
        submitBTN.disabled = false; // Re-enable button on error
        spinner.remove();
        MAadhar.classList.remove("is-invalid");
        FAadhar.classList.remove("is-invalid");
    });
}

document.addEventListener("keydown", (event) => {
  input = document.activeElement

  if (event.key === "Enter" && input.tagName === 'INPUT'){
    event.preventDefault()
    submit(input)
  }
});
</script>
{% endblock %}
