{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="text-center">

  <h1 class="display-1 fw-bold">Welcome to
    <a href="/" class="text-decoration-none text-primary">
      Falak Public School
    </a>
    Website.
  </h1>

  <p class="fw-bold">(Site under devlopment.)</p>

  <h2 class="fw-bold mt-5">
      <span class="text-decoration-underline">For Teachers</span> : Start filling students marks by clicking the button below
  </h2>


    <a href="/updatemarks" class="btn btn-primary btn-lg mt-4 text-center">Get Started</a>
</div>

{% endblock %}
