{% extends "base.html" %}
{% block title %}Create Paper{% endblock %}
{% block content %}

<div class="d-flex flex-column justify-content-center align-items-center mb-3">
  <h1 class="fw-bold text-center mb-2">Falak Public School</h1>
  <input type="text" class="form-control text-center fw-bold mb-2 w-75" placeholder="Event">
  <input type="text" class="form-control text-center fw-bold mb-2 w-50" placeholder="Subject">
  <input type="text" class=" form-control text-center fw-bold" style="width: 25%;" placeholder="Class">
</div>

<div id="content" style="width: 100%;">
  <div  class="d-flex flex-column align-items-end mb-4" id="Question-{{ index }}">

    <div class="question input-group mb-1">
        <select  class="form-select fw-bold " rows="1" style="overflow: hidden; resize: none;" onchange="addQuestion(this)">
          <option selected>Select Question Type</option>
          <option value="mcq">MCQ's</option>
          <option value="fillUp">Fill Ups</option>
          <option value="T-F">True/False</option>
          <option value="match">Matching</option>
          <option value="QnA">Question & Answers</option>
        </select>
        
        <button class="btn btn-success ms-1" onclick="addQuestion(this)" style="width: 35px; height: 40px;">+</button>
        <button class="btn btn-danger ms-1" onclick="remove(this)" style="width: 35px; height: 40px;">-</button>
    </div>

  </div>
</div>



<div class="container text-center mt-3">
    <button class="btn btn-primary w-75" onclick="convert()">Convert</button>
</div>

<style>
  .a4-paper {
      width: 210mm;
      font-size:75%;
      height: 297mm;
      
      padding: 3mm;
      border: 1px solid #ddd;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
</style>
<div id="a4PDF" class="a4-paper mt-6">

</div>
<script>
    var questionCount=1

    function addQuestion(element) {
      const parent = element.parentElement;
      const grandparent = parent.parentElement

      if (element.tagName.toLowerCase() === 'select') {
        const siblings = Array.from(grandparent.children).filter(child => child !== parent);
        siblings.forEach(sibling => sibling.remove());
        updatePage('/paper', grandparent.id , { value : element.value }, append="beforeend");
      }
      
      else if (parent.classList.contains('question')){
        questionCount++;
        updatePage('/paper', element.parentElement.parentElement.id , { value : questionCount }, append="afterend");
      }
      else{
        updatePage('/paper', grandparent.id , { value : parent.id }, append="beforeend");
      }
      
    }
    function remove(element) {
      const parent = element.parentElement;
      if (parent.classList.contains('question')){
        parent.parentElement.remove()
      }
      else{parent.remove()}
    }

    function convert() {

      let questions = [];

      const ele = document.querySelectorAll('.mcq, .fillUp, .match, .QnA, .T-F');
      let elements = document.querySelectorAll('[id^="Question-"]');
      qText={"fillUp":"Fill Ups",
          "T-F":"True or False",
          "QnA":"Question and Answer"}

      elements.forEach(el => {
        let q=el.querySelectorAll('.mcq, .fillUp, .match, .QnA, .T-F');
        if (q.length === 0) {alert("Please select all the select ."); return 0};

        if (q[0].id==="fillUp" || q[0].id==="T-F" || q[0].id==="QnA"){
          questions.push({
            "marks": "",
            "qText": qText[q[0].id],
            "type": q[0].id,
            "subQuestion": [...el.querySelectorAll('.sub-question')].map(q => q.value), })
        }

        if (q[0].id==="match"){
          questions.push({
            "marks": "",
            "qText": "Match The Following",
            "type": "match",
            "subQuestion": [...el.querySelectorAll('.sub-question')].map(q => q.value),
            "options": [...el.querySelectorAll('.option')].map(q => q.value)})
        }

        if (q[0].id==="mcq"){
          var mcqs=el.querySelectorAll('.mcq')

          questions.push({
            "marks": "",
            "qText": "Mark The Correct Option",
            "type": "mcq",
            "subQuestion": [...mcqs].map(mcq => ({
                  "text": mcq.querySelector('.sub-question').value,
                  "options": [...mcq.querySelectorAll('.option')].map(opt => opt.value)
              }))
            })
        };
        
      })


      updatePage('/paper', "a4PDF" , { questions : questions, value : "a4PDF"});


    }

    function adjustHeight(element) {
      element.style.height = "auto"; // Reset the height
      element.style.height = (element.scrollHeight) + "px"; // Set to scroll height
    }
  </script>

{% endblock %}
