{% extends "base.html" %}
{% block title %}Students Data{% endblock %}
{% block content %}

<div class="container">
  <div class="row mb-3">

    <div class="col-12 col-md-5 mb-2">
      <select class="form-select form-select-lg" id="classView" name="selectClass" required>
        <option selected value="All">Class</option>
        <option value="Nursery/KG/PP3">Nursery/KG/PP3</option>
        <option value="LKG/KG1/PP2">LKG/KG1/PP2</option>
        <option value="UKG/KG2/PP1">UKG/KG2/PP1</option>
        <option value="1st">1st</option>
        <option value="2nd">2nd</option>
        <option value="3rd">3rd</option>
        <option value="4th">4th</option>
        <option value="5th">5th</option>
        <option value="6th">6th</option>
        <option value="7th">7th</option>
        <option value="8th">8th</option>
      </select>
    </div>

    <div class="col-12 col-md-5 mb-2">
      <input type="text" id="search-input" class="form-control form-control-lg" placeholder="Search by Name, Class or Roll Number">
    </div>

    <div class="col-12 col-md-2 mb-2">
      <select class="form-select form-select-lg" id="items-per-page" name="itemsPerPage">
        <option selected value="20">20 items per page</option>
        <option value="50">50</option>
        <option value="100">100</option>
        <option value="500">500</option>
        <option value="1000">1000</option>
      </select>
    </div>

  </div>

  <!-- Unified Card View for All Screen Sizes -->
  {% if data %}
    <div class="row" id="StudentData">
      {% for row in data %}
        <div class="col-md-6 col-lg-4 mb-4">
          <div class="card shadow-lg h-100 border-0" style="border-radius: 12px;">
            <div class="d-flex align-items-center p-3">
              <img src="{{ 'https://lh3.googleusercontent.com/d/' + row['IMAGE'] + '=s200' if row['IMAGE'] else 'https://cdn.pixabay.com/photo/2016/04/22/04/57/graduation-1345143_1280.png' }}"
                   alt="Student Image"
                   class="img-fluid rounded-circle"
                   style="width: 130px; height: 180px; object-fit: cover; object-position: top; border: 2px solid #ffffff">
              <div class="ms-3 text-start">
                <a class="student-name fw-bold mb-0" onclick="viewStudentDetails('{{ row["id"] }}')">{{ row["STUDENTS_NAME"] }}</a>
                <p class="student-father text-muted mb-0"><small>{{ row["FATHERS_NAME"] }}</small></p>
                <p class="student-class-roll fw-bold mt-3">{{ row["CLASS"] }} - {{ row["ROLL"] }}</p>
                <!--<p class="text-muted">{{ row.ADMISSION_NO }}</p>-->
                <span class="badge bg-success rounded-pill">{{ row["DOB"] }}</span>
                <div class="mt-2">
                  <a href="tel:{{ row['PHONE'] }}" class="text-decoration-none">
                    <i class="fa fa-phone"></i> <strong>{{ row["PHONE"] }}</strong>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}
</div>

<div class="row">
  <div class="d-grid gap-2 col-4 mx-auto">
    <button id="load-more" class="btn btn-primary btn-lg mt-4 mb-5" style="display: none;">Load More</button>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">

    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fs-4 d-flex align-items-center" id="exampleModalLabel">
          <i class="bi bi-credit-card me-2"></i> Pay Fees
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div id="modalBody" class="modal-body p-0">

      </div>
      <!-- Modal Footer -->
      <div class="modal-footer d-flex justify-content-between align-items-center">
        <!-- Grand Total on the Left -->
        <div class="card shadow-lg border-1 rounded-3 p-2">
          <span class="me-auto fs-5 fw-bold">Total : <span id="grandTotal" class="fs-4 text-success">₹0</span></span>

        </div>
        
        <!-- Buttons on the Right -->
        <div class="d-flex">
          <button type="button" class="btn btn-outline-secondary me-3" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-success shadow-sm" onclick="Pay()">Pay Fees</button>
        </div>
      </div>
    </div>

  </div>
</div>
<script src="{{ url_for('static', filename='students.js') }}"></script>

{% endblock %}
<script>

</script>


