{% extends "base.html" %}
{% block title %}Students Data{% endblock %}
{% block content %}
<style>

  .table thead {
    display: none;
  }
  .table, .table tbody, .table tr, .table td {
    display: block;
    width: 100%;
  }
  .table tr {
    margin-bottom: 15px;
    border-bottom: 2px solid #dee2e6;
  }
  .table td {
    display: flex;
    justify-content: space-between;
    padding: 0.75rem;
    border: none;
    border-bottom: 1px solid #dee2e6;
    text-align: right;
  }
  .table td::before {
    content: attr(data-label);
    flex: 1;
    font-weight: bold;
    text-align: left;
    padding-right: 0.75rem;
  }
</style>

<div class="container" id="student-container">
  <div class="row mb-3">

    <div class="col-12 col-md-5 mb-2">
      <select class="form-select form-select-lg" id="classView" onchange="applyFilters()">
        <option selected value="All">Class</option>
        <option value="Nursery">Nursery/KG/PP3</option>
        <option value="LKG">LKG/KG1/PP2</option>
        <option value="UKG">UKG/KG2/PP1</option>
        <option value="1st">1st</option>
        <option value="2nd">2nd</option>
        <option value="3rd">3rd</option>
        <option value="4th">4th</option>
        <option value="5th">5th</option>
        <option value="6th">6th</option>
        <option value="7th">7th</option>
        <option value="8th">8th</option>
      </select>
    </div>

    <div class="col-12 col-md-5 mb-2">
      <input type="text" id="search-input" oninput="applyFilters()" class="form-control form-control-lg" placeholder="Search by Name, Class or Roll Number">
    </div>


  </div>

  <!-- Unified Card View for All Screen Sizes -->
  {% if data %}
    <div class="row" id="StudentData">
      {% for row in data %}
      <div class="col-md-6 col-lg-4 mb-4 student-card" data-name="{{ row.STUDENTS_NAME }}" data-class="{{ row.CLASS }}" data-father="{{ row.FATHERS_NAME }}" data-PEN="{{ row.PEN }}" data-roll="{{ row.ROLL }}">
        <div class="card shadow-lg h-100 border-0" style="border-radius: 12px;">

            <div class="d-flex flex-column align-items-center justify-content-center">
              
              <img src="{{ 'https://lh3.googleusercontent.com/d/' + row.IMAGE + '=s200' if row.IMAGE else 'https://cdn.pixabay.com/photo/2016/04/22/04/57/graduation-1345143_1280.png' }}"
                   alt="Student Image"
                   class="img-fluid rounded-circle mt-3"
                   style="width: 100px; height: 110px; object-fit: cover; object-position: top; border: 2px solid #ffffff">
              <div class="d-flex flex-column align-items-center justify-content-cente w-100 ">
                <a class="student-name fw-bold" style="line-height: 1.5;">{{ row.STUDENTS_NAME }}</a>
                <p class="student-father text-muted" style="line-height: 1;"><small>{{ row.FATHERS_NAME }}</small></p>

                <table class="table table-bordered table-striped table-hover">
                    <thead>
                      <tr>
                        <th scope="col">Class</th>
                        <th scope="col">Admission No</th>
                        {% if row.SR %}
                            <th scope="col">S.R No.</th>
                        {% endif %}
                        {% if row.SR %}
                            <th scope="col">Admission Date</th>
                        {% endif %}
                      </tr>
                    </thead>
                    <tbody id="tableBody">
                        <tr>
                            <td data-label="Class">{{ row.CLASS }} - {{ row.ROLL }}</td>
                            <td data-label="Admission No">{{ row.ADMISSION_NO }}</td>
                            {% if row.SR %}
                                <td data-label="S.R No.">{{ row.SR }}</td>
                            {% endif %}

                            {% if row.ADMISSION_DATE %}
                                <td data-label="Admission Date">{{ row.ADMISSION_DATE }}</td>
                            {% endif %}
                        </tr>
                    </tbody>
                </table>



                <form method="POST" class="dataForm align-items-center justify-content-cente" style="width: 90%;">

                <input type="hidden" name="student_id" value="{{ row.id }}">

                {% if not row.Admission_Class %}
                  <div class="mb-3">
                      <label for="Admission_Class" class="form-label">Select Admission Class:</label>
                      <select class="form-control" name="Admission_Class" id="Admission_Class">
                          <option selected value="">Admission Class</option>
                          {% for Class in classes %}
                            <option value="{{ Class.id }}">{{ Class.CLASS }}</option>
                          {% endfor %}
                      </select>
                  </div>
                {% endif %}

                {% if not row.ADMISSION_DATE %}
                <div class="mb-3">
                      <label for="ADMISSION_DATE" class="form-label">Admission Date:</label>
                      <input type="date" 
                      inputmode="numeric"
                             class="form-control" 
                             name="ADMISSION_DATE" 
                             id="ADMISSION_DATE"  placeholder="DD/MM/YYYY">
                </div>
                  {% endif %}

                  {% if not row.SR %}
                  <div class="mb-3">
                      <label for="SR" class="form-label">SR Number:</label>
                      <input type="number" 
                             inputmode="numeric"
                             class="form-control" 
                             name="SR" 
                             id="SR" 
                             value="{{ row.SR }}">
                  </div>
                  {% endif %}
              
                  <div class="mb-3 text-center">
                      <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                  <p class="successMessage" style="color: green; display: none;"></p>
                  <p class="errorMessage" style="color: red; display: none;"></p>
              </form>
              

              </div>
              
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}
</div>






<script src="{{ url_for('static', filename='students.js') }}"></script>


<script>
document.querySelectorAll(".dataForm").forEach(function(form) {
    form.addEventListener("submit", function(event) {
      event.preventDefault();  // Stop the default form submission

      let formData = new FormData(form);
      let submitBTN = form.querySelector("button[type='submit']");
      submitBTN.disabled = true

      const spinner = document.createElement('span');
      spinner.className = 'spinner-border spinner-border-sm';
      spinner.setAttribute('role', 'status');
      spinner.setAttribute('aria-hidden', 'true');
      submitBTN.appendChild(spinner);

      // Use fetch to submit the form data asynchronously
      fetch("/tempPagePost", {
        method: "POST",
        body: formData
      })
      .then(response => {
        submitBTN.disabled = false;
        spinner.remove();
        return response.json();

        })
      .then(data => {
        console.log("Success:", data);
        let successMessage = form.querySelector(".successMessage");
        successMessage.textContent = data.message;
        successMessage.style.display = "block";

        
      })
      .catch(error => {
        console.error("Error:", error);
        // Find the error message element within the current form
        let errorMessage = form.querySelector(".errorMessage");
        errorMessage.textContent = error.message;
        errorMessage.style.display = "block";

      });

    });
  });


  flatpickr("#ADMISSION_DATE", {
    dateFormat: "d/m/Y", // Enforce DD/MM/YYYY format
    disableMobile: true, // Prevents native mobile calendar popup
    allowInput: false,   // Prevents manual typing (optional)
  });
</script>

{% endblock %}
