{% extends "base.html" %}
{% block title %}Students Data{% endblock %}
{% block content %}
<style>
  .modal-content, .accordion-body
          { background: #1e1e2f; border-radius: 15px; box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6); }
  .modal-header 
          { background: linear-gradient(90deg, #4e54c8, #8f94fb); }
  .student-card-body 
          { background: #2a2a3d; border-radius: 15px; padding: 10px; box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5); }
  .student-image 
          { border: 3px solid #8f94fb; border-radius: 50%; object-fit: cover; width: 150px; height: 150px; }
  .table th, .table td 
          { background-color: #34354a; }
  .table th 
          { background-color: #2a2a3d; }
  .modal-footer 
          { background: #2a2a3d; }

  .accordion-button 
          { box-shadow: 0 0 10px rgba(0, 0, 255, 0.5); transition: box-shadow 0.3s ease;  }
       
  .accordion-button:not(.collapsed) 
         { box-shadow: 0 0 15px rgba(0, 0, 255, 0.7); }
  .card:hover 
          { transform: translateY(-5px);
            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6);
            transition: all 0.3s ease-in-out;
                }
</style>

<div class="container" id="student-container">
  <div class="row mb-3">

    <div class="col-12 col-md-5 mb-2">
      <select class="form-select form-select-lg" id="classView" onchange="applyFilters()">
        <option selected value="All">Class</option>
        <option value="Nursery">Nursery/KG/PP3</option>
        <option value="LKG">LKG/KG1/PP2</option>
        <option value="UKG">UKG/KG2/PP1</option>
        <option value="1st">1st</option>
        <option value="2nd">2nd</option>
        <option value="3rd">3rd</option>
        <option value="4th">4th</option>
        <option value="5th">5th</option>
        <option value="6th">6th</option>
        <option value="7th">7th</option>
        <option value="8th">8th</option>
      </select>
    </div>

    <div class="col-12 col-md-5 mb-2">
      <input type="text" id="search-input" oninput="applyFilters()" class="form-control form-control-lg" placeholder="Search by Name, Class or Roll Number">
    </div>


  </div>

  <!-- Unified Card View for All Screen Sizes -->
  {% if data %}
    <div class="row" id="StudentData">
      {% for row in data %}
      <div class="col-md-6 col-lg-4 mb-4 student-card" data-name="{{ row.STUDENTS_NAME }}" data-class="{{ row.CLASS }}" data-father="{{ row.FATHERS_NAME }}" data-PEN="{{ row.PEN }}" data-roll="{{ row.ROLL }}">
        <div class="card shadow-lg h-100 border-0" style="border-radius: 12px;">
            {% if row.AADHAAR == None %}
              <span class="badge bg-danger position-absolute top-0 end-0 m-1">
                No Aadhar
              </span>
              {% endif %}
            <div class="d-flex align-items-center p-3">
              
              <img src="{{ 'https://lh3.googleusercontent.com/d/' + row.IMAGE + '=s200' if row.IMAGE else 'https://cdn.pixabay.com/photo/2016/04/22/04/57/graduation-1345143_1280.png' }}"
                   alt="Student Image"
                   class="img-fluid rounded-circle"
                   style="width: 130px; height: 180px; object-fit: cover; object-position: top; border: 2px solid #ffffff">
              <div class="ms-3 text-start">
                <a class="student-name fw-bold mb-0">{{ row.STUDENTS_NAME }}</a><br>
                <p class="student-father text-muted mb-0" ><small>{{ row.FATHERS_NAME }}</small></p>
                <p class="student-class-roll fw-bold mt-3">{{ row.CLASS }} - {{ row.ROLL }}</p>
                <p class="student-class-roll fw-bold mt-3">Adm. No - {{ row.ADMISSION_NO }}</p>

                {% if row.SR %}
                <p class="student-class-roll fw-bold mt-3">SR - {{ row.SR }}</p>
                {% endif %}

                {% if row.ADMISSION_DATE %}
                <p class="student-class-roll fw-bold mt-3">Adm. Date - {{ row.ADMISSION_DATE }}</p>
                {% endif %}



                <form method="POST" class="dataForm">

                <input type="hidden" name="student_id" value="{{ row.id }}">

                {% if not row.Admission_Class %}
                  <div class="mb-3">
                      <label for="Admission_Class" class="form-label">Select Admission Class:</label>
                      <select class="form-control" name="Admission_Class" id="Admission_Class">
                          <option selected value="">Admission Class</option>
                          {% for Class in classes %}
                            <option value="{{ Class.id }}">{{ Class.CLASS }}</option>
                          {% endfor %}
                      </select>
                  </div>
                {% endif %}

                {% if not row.ADMISSION_DATE %}
                <div class="mb-3">
                      <label for="ADMISSION_DATE" class="form-label">Admission Date:</label>
                      <input type="date" 
                             class="form-control" 
                             name="ADMISSION_DATE" 
                             id="ADMISSION_DATE" 
                             value="{{ row.ADMISSION_DATE }}">
                  </div>
                  {% endif %}

                  {% if not row.SR %}
                  <div class="mb-3">
                      <label for="SR" class="form-label">SR Number:</label>
                      <input type="number" 
                             class="form-control" 
                             name="SR" 
                             id="SR" 
                             value="{{ row.SR }}">
                  </div>
                  {% endif %}
              
                  <div class="mb-3">
                      <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                  <p class="successMessage" style="color: green; display: none;"></p>
                  <p class="errorMessage" style="color: red; display: none;"></p>
              </form>
              

              </div>
              
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}
</div>






<script src="{{ url_for('static', filename='students.js') }}"></script>


<script>
document.querySelectorAll(".dataForm").forEach(function(form) {
    form.addEventListener("submit", function(event) {
      event.preventDefault();  // Stop the default form submission

      let formData = new FormData(form);
      let submitBTN = form.querySelector("button[type='submit']");
      submitBTN.disabled = true

      const spinner = document.createElement('span');
      spinner.className = 'spinner-border spinner-border-sm';
      spinner.setAttribute('role', 'status');
      spinner.setAttribute('aria-hidden', 'true');
      submitBTN.appendChild(spinner);

      // Use fetch to submit the form data asynchronously
      fetch("/tempPagePost", {
        method: "POST",
        body: formData
      })
      .then(response => {
        submitBTN.disabled = false;
        spinner.remove();
        return response.json();

        })
      .then(data => {
        console.log("Success:", data);
        let successMessage = form.querySelector(".successMessage");
        successMessage.textContent = data.message;
        successMessage.style.display = "block";

        
      })
      .catch(error => {
        console.error("Error:", error);
        // Find the error message element within the current form
        let errorMessage = form.querySelector(".errorMessage");
        errorMessage.textContent = error.message;
        errorMessage.style.display = "block";

      });

    });
  });
</script>

{% endblock %}
