{% extends "base.html" %}
{% block title %}Update Marks{% endblock %}

{% block content %}
<style>
  @media (max-width: 768px) {
  .table thead {
    display: none;
  }
  .table, .table tbody, .table tr, .table td {
    display: block;
    width: 100%;
  }
  .table tr {
    margin-bottom: 15px;
    border-bottom: 2px solid #dee2e6;
  }
  .table td {
    display: flex;
    justify-content: space-between;
    padding: 0.75rem;
    border: none;
    border-bottom: 1px solid #dee2e6;
    text-align: right;
  }
  .table td::before {
    content: attr(data-label);
    flex: 1;
    font-weight: bold;
    text-align: left;
    padding-right: 0.75rem;
  }
}
</style>

<script src="{{ url_for('static', filename='upsatemarks.js') }}"></script>

<form id="selectionForm" method="POST" action="/updatemarks">
  <div class="row mb-3">
    
    <div class="col">  
      <select class="form-select form-select-lg" id="Class" name="selectClass">
        <option selected value="Class">Class</option>
        {% for cls in classes %}
          <option value="{{ cls }}">{{ cls }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="col">
      <select class="form-select form-select-lg" id="Subject" name="selectSubject">
        <option selected value="Subject">Subject</option>
        <option value="ENGLISH">English</option>
        <option value="HINDI">Hindi</option>
        <option value="MATH">Math</option>
        <option value="URDU">Urdu</option>
        <option value="DEENIYAT">Deniyaat</option>
        <option value="SCIENCE">Science</option>
        <option value="COMPUTER"">Computer</option>
        <option value="GK">GK</option>
        <option value="SST">EVS / SST</option>
        <option value="DRAWING">Drawing</option>
      </select>
    </div>
    <div class="col">
      <select class="form-select form-select-lg" id="Exam" name="selectExam">
        <option name="FA1">FA1</option>
        <option disabled name="SA1">SA1</option>
        <option disabled name="FA2">FA2</option>
        <option disabled name="SA2">SA2</option>
      </select>
    </div>
    <button type="submit" id="submitButton" style="display:none;">Submit</button>
  </div>
  
</form>
<div class="container-lg table-responsive">
  <table class="table table-bordered table-striped table-hover">
    <thead class="thead-dark">
      <tr id="tableRow">
        <th scope="col">Name</th>
        <th scope="col">Class</th>
        <th scope="col">Roll No</th>
        <th scope="col">Subject</th>
        <th scope="col">Marks</th>
      </tr>
    </thead>
    <tbody id="tableBody">
      {% if data %}
      {% for row in data %}
      <tr>
        <td data-label="Class">{{ row.CLASS }}</td>
        <td data-label="Roll no">{{ row.ROLL }}</td>
        <td data-label="Name">{{ row.NAME }}</td>
        <td data-label="Subject">{{ row.SUBJECT }}</td>
        <td>
          <div class="input-group">
            <input type="number" inputmode="numeric" 
              placeholder="{{ row.CLASS }} {{ row.SUBJECT }} MARKS" class="form-control" 
              onfocus="this.select()" value="{{ row.SCORE }}" 
              studentclass="{{ row.CLASS }}" roll="{{ row.ROLL }}" exam="{{ row.EXAM }}_{{ row.SUBJECT }}">
            <button type="submit" class="btn btn-primary" 
              onclick="submit(this.previousElementSibling)">SUBMIT</button>
          </div>
        </td>
      </tr>
      {% endfor %}
      {% endif %}
    </tbody>
  </table>
</div>
{% endblock %}
